*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    /*background-image: url(/src/images/BgDoodle.jpg);*/
    background: rgb(252, 209, 19);
}
.logo{
    background: rgba(255, 0, 0, 0);
}
.logoimg{
    width: 30vh;
    margin-left: 3vh;
    margin-top: 1.5vh;
}
.container{
    background: rgba(0, 0, 255, 0);
    height: 75vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}
.canvas{
    width: 70%;
    height: 100%;
    background: rgb(255, 255, 255);
    margin-left: 1.7vh;
    float: left;
    border-radius: 22px;
}
.DrawingTools{
    height: 100%;
    width: 18%;
    background: rgba(188, 75, 38, 0);
    border: 3px black solid;
    float: left;
    border-radius: 22px 0 0 22px;
    padding-top: 30px;
}
.DrawingTools .row{
    margin-bottom: 35px;
}
label{
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
}
ul{
    padding-left: 20px;
    padding-top: 10px;
    list-style: none;
    margin: 10px 0 0 5px;
}
.row .option .options{
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-bottom: 10px;
}
.options :where(span, label){
    padding-left: 10px;
}
.options :where(span, label):hover{
    color: rgb(0, 102, 255);
    cursor: pointer;
}
.options :where(img){
    padding-left: 10px;
    padding-top: 10px;
}
.options #fill-colour{
    cursor: pointer;
    height: 14px;
    width: 14px;
    margin-left: 10px;
    margin-top: 10px;

}
#fill-colour :checked label{
    color: rgb(0, 76, 255);
}
.options #size-slider{
    width: 80%;
    height: 2px;
    margin-top: 10px;
}
.colours .option{
    display: flex;
}
.colours .options{
    height: 20px;
    width: 20px;
    background: greenyellow;
    border-radius: 50%;
    margin-top: 3px;
    margin-right: 15px;
    position: relative;
}
.colours .options:nth-child(1){
    background: red;
}
.colours .options:nth-child(2){
    background: rgb(255, 255, 0);
}
.colours .options:nth-child(3){
    background: rgb(13, 255, 0);
}
.colours .options:nth-child(4){
    background: rgb(0, 21, 255);
}
.colours .options:nth-child(5){
    background: rgb(255, 255, 255);
    border: 1px solid rgb(208, 208, 208);
}
.colours .options:hover::before{
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    background: inherit;
    border-radius: inherit;
    border: 2px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.colours .options:first-child:hover::before{
    border-color: #fffdfd;
}
.buttons button{
    margin-top: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    border: 2px solid rgb(225, 224, 224);
    margin-left: 35px;
}
.buttons button:hover{
    border: 2px solid rgb(0, 0, 0);
}
.draw{
    float: left;
    background: rgba(245, 222, 179, 0);
    width: 82%;
    height: 100%;
    border-radius: 0 22px 22px 0;
}
.e1{
    background: rgba(247, 179, 76, 0);
    border: 3px black solid;
    width: 100%;
    height: 12%;
    margin-left: 0.3vh;
    border-radius: 0 22px 0 0;
}

.DrawingBoard{
    width: 100%;
    margin-top: 0.3vh;
    height: 87.7%;
    background: white;
    border: 3px black solid;
    border-radius: 0 0 22px 0;
    margin-left: 0.3vh;
    cursor: pointer;
}
.chat{
    margin-left: 2vh;
    margin-right: 1vh;
    float: left;
    width: 27.3%;
    height: 100%;
    background: rgb(255, 255, 255);
    border-radius: 22px;
}
.msgs{
    width: 100%;
    height: 87.7%;
    background: white;
    border: 3px black solid;
    border-radius: 22px 22px 0 0;
}
.e2{
    width: 100%;
    height: 12%;
    margin-top: 0.3vh;
    border-radius: 0 0 22px 22px;
    background: white;
    border: 3px black solid;

}
.scores{
    background: rgba(172, 255, 47, 0);
    height: 14.5vh;
    padding-top: 6px;
}
.players{
    width: 98.2%;
    margin-left: 1.6vh;
    margin-right: 2vh;
    margin-right: 1vh;
    height: 90%;
    border-radius: 22px 22px 22px 22px;
    background: white;
    border: 3px black solid;
}